<div class="row header_bg">

  <div class="col col-md-12 mt-5">
    <h4 align="right" class="mr-4"><%= link_to "Partners", new_partner_path, class: "partner_link" %></h4>
    <h2 align="center">
    	<%= link_to image_tag("logo.png", class: "img-fluid"), root_path %>	
    </h2>   
    <h1 align="center" class="header_text">Give your customers the most personalized online shopping experiene</h1>

    <div class="col-md-2 offset-md-5 mt-4">
  		<%= link_to "Try & Buy Now", new_lead_path, class: "btn btn_main btn-block btn-lg" %>
  	</div>


  </div>    
  
</div>

<!-- Section 1 -->

<div class="row mt-5">

  <div class="col col-md-4 offset-md-3 mt-5">
  	<h5 class="block_header_text"><strong>THE CUSTOMER EXPERIENCE</strong></h5>
  	<h3 class=""><strong>Try & Buy</strong></h3>	
  	<h4 class="mt-3">Bridging the gap between the online and offline shopping experience.</h4>
  </div>	  
  
  <div class="col-md-2 d-none d-sm-block col-sm-4">
  	<%= image_tag "1.png", class: "img-fluid" %>
  </div>
	  

</div>	

<div class="row mt-5">
	<div align="center" class="col-md-3 offset-md-2">
		
		<%= image_tag "1_1.png", class: "img-fluid block_icon" %>

		<div class="row mt-3">
			<div  class="col-md-12">
				<h5><strong>Shop Retailer's Site</strong></h5>
				<p class="mt-2 lead">Using the DropAlley API, products within one day shipping distance can be requested for Try& Buy</p>
			</div>
		</div>

	</div>

	<div align="center" class="col-md-3">
		
		<%= image_tag "1_2.png", class: "img-fluid block_icon" %>

		<div class="row mt-3">
			<div  class="col-md-12">
				<h5><strong>Schedule Try & Buy</strong></h5>
				<p class="mt-2 lead">DropAlley Technology matches optimal partner location and appointment time</p>
			</div>
		</div>

	</div>

	<div align="center" class="col-md-3">
		
		<%= image_tag "1_3.png", class: "img-fluid block_icon" %>

		<div class="row mt-3">
			<div  class="col-md-12">
				<h5><strong>Try & Buy</strong></h5>
				<p class="mt-2 lead">Customers receive one-on-one personalized shopping experiences with the option to purchase</p>
			</div>
		</div>

	</div>

</div>

<!-- Section 2 -->

<div class="row section_margin">

	<div class="col-md-2 offset-md-3 d-none d-sm-block col-sm-4">
  	<%= image_tag "2.png", class: "img-fluid" %>
  </div>

  <div class="col col-md-4 mt-5">
  	<h5 class="block_header_text"><strong>BOOST ONLINE SALES</strong></h5>
  	<h3 class=""><strong>Get in the game</strong></h3>	
  	<h4 class="mt-3">Keep up with customer expectations in the Amazon era - let your shoppers try on products when and where they want.</h4>
  </div>	  	  

</div>	

<div class="row mt-5">
	<div align="center" class="col-md-3 offset-md-2">
		
		<%= image_tag "2_1.png", class: "img-fluid block_icon" %>

		<div class="row mt-3">
			<div  class="col-md-12">
				<h5><strong>Boost Online Sales</strong></h5>
				<p class="mt-2 lead">Optimize cross-selling capabilities with DropAlley's recommendaton technology</p>
			</div>
		</div>

	</div>

	<div align="center" class="col-md-3">
		
		<%= image_tag "2_2.png", class: "img-fluid block_icon" %>

		<div class="row mt-3">
			<div  class="col-md-12">
				<h5><strong>Reduce Returns</strong></h5>
				<p class="mt-2 lead">Enable shoppers to touch and feel products prior to the purchase decision.</p>
			</div>
		</div>

	</div>

	<div align="center" class="col-md-3">
		
		<%= image_tag "2_3.png", class: "img-fluid block_icon" %>

		<div class="row mt-3">
			<div  class="col-md-12">
				<h5><strong>Increase Brand Loyalty</strong></h5>
				<p class="mt-2 lead">Make your customers feel special with the most personalized shopping experience ever</p>
			</div>
		</div>

	</div>

</div>

<!-- Section 3 -->

<div class="row section_margin mb-5">

  <div class="col col-md-4 offset-md-3 mt-5">
  	<h5 class="block_header_text"><strong>PARTNER NETWORK</strong></h5>
  	<h3 class=""><strong>Local Fashion Experts</strong></h3>	
  	<h4 class="mt-3">The core to Try & Buy success is in our hand-picked partner network of fashion savvy AlleyCats. <br><br> AlleyCats are vetted and trained using DropAlley's Technology.Each partner is assigned a base rating based on performance and shopper feedback.  </h4>
  </div>	  
  
  <div class="col-md-2 d-none d-sm-block col-sm-4">
  	<%= image_tag "3.png", class: "img-fluid" %>
  </div>
	  

</div>	

<!-- Footer -->

<div class="row header_bg">

  <div class="col col-md-12 mt-5">
    <h1 align="center" class="mt-5 header_text">What are you waiting for? Be part of the e-commerce revolution.</h1>
  </div>  

  <div class="col-md-2 offset-md-5">
  	<%= link_to "Try & Buy Now", new_lead_path, class: "btn btn_main btn-block btn-lg" %>	
  </div>


  <div class="col-md-12 header_text">
    <h4 align="center"><%= link_to "Terms & Conditions", terms_path %> and <%= link_to "Privacy Policy", terms_path %></h4>
  </div>
  
  
</div>

