<div class="row header_bg">

  <div class="col col-md-12 mt-5">
  	<h4 align="right" class="mr-4"><%= link_to "Partners", new_partner_path, class: "partner_link" %></h4>
  	<h2 align="center">
    	<%= link_to image_tag("logo.png", class: "img-fluid"), root_path %>	
    </h2>	
  	<h1 align="center" class="header_text">Give your customers the most personalized online shopping experiene</h1>

  	<div class="col-md-2 offset-md-5 mt-4">
  		<%= link_to "Try & Buy Now", new_lead_path, class: "btn btn_main btn-block btn-lg" %>
  	</div>

  </div>	  
  
</div>

<div class="row mt-5">
	<div class="col-md-10 offset-md-1">
		<h3 align="center">Legal warning</h3>
		<hr>
		<h4 class="mt-5">1.- Right to information </h4>
		<p>We inform you that this Website is owned by DROPALLEY, registered at godaddy.com with customer number: 186625079.  
		Access and / or use of the Website attributes the condition of user, and accepts, from said access and / or use, this Legal Notice.
		The user (hereinafter, the "User") can contact DROPALLEY through the following email address: contact@dropalley.com</p></br> 
		<h4 class="mt-5">2.- Use of the Website </h4>
		<p>The User assumes responsibility for the use of the Website. The Website may provide access to a multitude of texts, graphics, drawings, designs, photographs, multimedia content, and information (hereinafter, " Content ") belonging to DROPALLEY or to third parties to which the User may have access.</br>
		The User agrees to make appropriate use of the Content and Services offered through the Website not to use them to (i) engage in illegal activities, illegal or contrary to good faith and order public; (ii) cause damage to the physical and logical systems of the Website of DROPALLEY, its suppliers or third parties, (iii) introduce or spread on the network computer viruses or any other physical or logical systems that are likely to cause damage above, (iv) try to access, use and / or manipulate the data of DROPALLEY, third-party providers and other Users; (v) reproduce or copy, distribute, allow public access through any form of public communication, transform or modify the Contents, unless DROPALLEY 's authorization is available; (vi) delete, hide or manipulate the Contents subject to intellectual or industrial property rights and other data identifying those rights of DROPALLEY or third parties incorporated into the Contents, as well as the technical protection devices or any information mechanisms that may be inserted in the Contents.</br>
		DROPALLEY will have the right to investigate and denounce any of the conducts mentioned in accordance with the Law, as well as to collaborate with the authorities in the investigation of said actions.</br>
		DROPALLEY may suspend temporarily and without prior notice, the accessibility to the Website due to maintenance, repair, updating or improvement operations. However, whenever circumstances allow, DROPALLEY will inform the User, sufficiently in advance, of the scheduled date for the suspension of the Services. DROPALLEY is not responsible for the use that Users may make of the Content included in the Website.</p>
		<h4 class="mt-5">3.- Liability and Warranties </h4>
		<p>DROPALLEY declares that it has adopted the necessary measures that, within its possibilities and the state of technology, allow the proper functioning of its Website, as well as the absence of viruses and harmful components. However, DROPALLEY can not be held responsible for: (i) the continuity and availability of the Contents and Services; (ii) the absence of errors in said Contents or the correction of any defect that may occur; (iii) the absence of viruses and / or other harmful components; (iv) the damages caused by any person that violates DROPALLEY 's security systems.</br>
		DROPALLEY assumes no responsibility for the links to other web pages found on the Website, and may direct the User to other websites over which DROPALLEY has no control whatsoever, for which the User accesses under his sole responsibility the Content and in the conditions of use that govern them.</p>
		<h4 class="mt-5">4.- Duration and modification</h4> 
		<p>This Legal Notice will be in force indefinitely, and DROPALLEY may make changes to the conditions specified therein, which will take effect from the moment of its publication.
		DROPALLEY may delete, add or change both the Contents and the Services provided, as well as the way in which they appear located or presented. The conditions that are published at the moment in which the User accesses DROPALLEY 's Web Site are understood as valid.
		The access and / or use of the Website will be understood as an acceptance by the User of this Legal Notice and its conditions and, where appropriate, the changes made in them.</p>

		<h3 align="center" class="mt-5"> Privacy Policy </h3>
		<hr>
		<h4 class="mt-5">1.- Who is responsible for the processing of your data? </h4>
		<p>The person responsible for processing your personal data is DROPALLEY.
		The acceptance of this Privacy Policy assumes that the user expressly consents to the processing of any personal data in accordance with said purposes.
		If you have any questions regarding this Privacy Policy or in relation to the treatment of your data by the Owner, please write to us at contact@dropalley.com.
		The User may contact DROPALLEY at the following <strong>email address: contact@dropalley.com</strong></p>

		<h4 class="mt-5">2.- Why is DROPALLEY legitimized to carry out data processing?</h4> 
		<p>DROPALLEY is entitled to treat your data in order to carry out the provision of its services, as well as for the consent it has given at the time of registration on the Website.</br>
		DROPALLEY takes the protection of your privacy and your personal data very seriously. Therefore, your personal information is kept secure and treated with the utmost care.</br>
		This Privacy Policy regulates access to and use of the service (hereinafter, the "Service") that DROPALLEY makes available to the User interested in the services and Contents hosted on the Website.</p>

		<h4 class="mt-5">3.- What are the purposes of the treatment of your personal data by DROPALLEY? </h4>
		<p>Your personal data collected by DROPALLEY may be used for the following purposes:</br>
		    a. The provision of the services offered on the Website.</br>
		    b. Send commercial communications outlined by DROPALLEY about its services by letter, telephone, email, SMS / MMS, push notifications or by other equivalent electronic means of communication, provided that the User has consented to the processing of their personal data for this purpose.</br>
		Likewise, the User consents to the processing of their data for the creation of profiles, as well as for the segmentation of their data. The aforementioned treatments may be aimed at the analysis and realization of statistics to know the traffic and use of the Website by Users, as well as the determination of their tastes and preferences to send promotional information according to their interests.
		However, the User may revoke the consent, in each commercial or advertising communication sent to him, and at any time, by notification at the following <strong>e-mail address contact@dropalley.com</strong></p>
		<h4 class="mt-5">4.- Veracity of the data provided by the Users </h4>
		<p>The User guarantees that the personal data provided are true and is responsible for communicating to DROPALLEY any modification of the same. The User will respond, in any case, of the veracity of the data provided, reserving DROPALLEY the right to exclude from the registered Services any User who has provided false data, without prejudice to the other actions that proceed in Law.</p>
		<h4 class="mt-5">5.-Data Conversation </h4>
		<p>The personal data provided will be kept by DROPALLEY as long as the User does not express his wish to unsubscribe from the DROPALLEY services, in order to receive information about the company's products.</p>
		<h4 class="mt-5">6.- Rights of the User in relation to their data </h4>
		<p>The User has the right to (i) access their personal data, as well as (ii) request the rectification of inaccurate data or, if applicable, request their (iii) deletion , (iv) request the limitation of the processing of your data, (v) oppose the processing of your data and (vi) request its portability. In addition, the User may exercise his (vii) right to oblivion.</br>
		The User can exercise all these rights at the following email address contact@dropalley.com , indicating the reason for their request and providing a copy of their ID, in order to prevent third parties from accessing their personal data in an improper manner. </br>
		Without prejudice to any other administrative appeal or legal action, the User shall be entitled to submit a claim to a Control Authority, in particular in the Member State in which he has his habitual residence, place of work or place of the alleged infringement, in If you consider that the processing of your personal data is not appropriate to the regulations, as well as in the case of not seeing the exercise of your rights satisfied. The control authority before which the claim was filed will inform the claimant about the course and result of the claim.</p>
		<h4 class="mt-5">7.- Data Security</h4>
		<p>The protection of the privacy and personal data of Users is very important for DROPALLEY. Therefore, DROPALLEY does everything in its power to prevent your data from being used improperly, allowing access to it only to authorized personnel.
		DROPALLEY maintains security levels of personal data protection in accordance with the applicable regulations and has established all technical means at its disposal to prevent the loss, misuse, alteration, unauthorized access and theft of data provided by the User through of the Website, without prejudice to inform you that security measures on the Internet are not impregnable.</br>
		DROPALLEY undertakes to comply with the duty of secrecy and confidentiality with respect to personal data in accordance with the applicable legislation, as well as to grant them a secure treatment in the international transfers and transfers of data that, where appropriate, may occur.</br>
		In those services of the web that need to register as a User, a password must be chosen. The User is responsible for maintaining the confidentiality of this password, as well as all activities that occur in the session initiated with your name and password. The User undertakes to notify DROPALLEY as soon as possible of the unauthorized use of his Username and / or password or any other security breach. DROPALLEY will not be responsible for any damages or losses that may arise due to non-compliance with this obligation by the User.</p>
		<h4 class="mt-5">8.-Changes </h4>
		<p>DROPALLEY reserves the right to revise its Privacy Policy at the time it deems appropriate. For this reason, we ask you to check this Privacy Policy regularly to read the most recent version of it. However, any change that occurs in this Privacy Policy will be communicated to the User.</p>
		<h4 class="mt-5">9.- Links to web pages </h4>
		<p>The DROPALLEY Website may contain links to web pages of companies and third-party entities.
		DROPALLEY can not be responsible for the way in which these companies deal with the protection of privacy and personal data, so we advise you to carefully read the Privacy Policy statements of these web pages that are not owned by DROPALLEY with relation to the use, processing and protection of personal data. The conditions offered by these web pages may not be the same as those offered by DROPALLEY.</p>
		<h4 class="mt-5">10.- Questions </h4>
		<p>If you have any questions about this Privacy Policy or the treatment of your data, please contact DROPALLEY by email to the following email address: contact@dropalley.com</p>
		<h4 class="mt-5">11.- Acceptance and Consent </h4>
		<p>The User declares to have been informed of the conditions on protection of personal data, accepting and consenting to the treatment thereof by DROPALLEY, in the manner and for the purposes indicated in this Privacy Policy.</p>
	</div>
</div>

<div class="row header_bg">

  <div class="col col-md-12 mt-5">
    <h1 align="center" class="mt-5 header_text">What are you waiting for? Be part of the e-commerce revolution.</h1>
  </div>  

  <div class="col-md-2 offset-md-5">
  	<%= link_to "Try & Buy Now", new_lead_path, class: "btn btn_main btn-block btn-lg" %>	
  </div>

  <div class="col-md-12 header_text">
    <h4 align="center"><%= link_to "Terms & Conditions", terms_path %> and <%= link_to "Privacy Policy", terms_path %></h4>
  </div>
  
  
</div>



